<ul>
    <p>
    {{student.name}}
    </p>
    <p>
      {{student.age}}
    </p>
     {{student.sex}}
    </p>
    <p>
     {{student.score}}
    </p>
</ul>

<p><a href="/students/{{student.name}}/update">Módosítás</a></p>

<form action="/students/{{student.name}}?_method=DELETE" method="post">
  <input type="submit" value="Törlés">
</form>

<p><a href="/students">Vissza</a></p>