<ul>
    <p>
    {{student.name}}
    </p>
    <p>
      {{student.age}}
    </p>
      {{#if student.sex}}
        Nő
      {{else}}
        Férfi
      {{/if}}
    </p>
    <p>
     {{student.score}}
    </p>
</ul>

<p><a href="/students/{{student.id}}/update">Módosítás</a></p>

<form action="/students/{{student.id}}?_method=DELETE" method="post">
  <input type="submit" value="Törlés">
</form>

<p><a href="/students">Vissza</a></p>